body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #F1F1F1;
	background: DarkSlateBlue; /*Indigo;*/
	/*background: url(../images/tlo1.jpg);*/
	background-size: cover;
	text-align: center;
}

#wrapper {
	width: 960px;
	margin: 0 auto;
	text-align: left;
}

a {
	color: #FFFFFF;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

#logo {
	float: left;
	padding: 0;
}

#logo h2 {
	font-size: 28px;
	font-weight: bold;
	font-family: Arial;
	color: #F1F1F1;
	letter-spacing: 2px;
}

.light_logo {
	padding-left: 20px;
	background: #275fac;
}

#logo a {
	text-decoration: none;
	border: 0px;
}

#menu {
	width: 600px;
	float: right;
	margin-top: 5px;
	margin-left: 50px;
	margin-bottom: 30px;
}

#menu ul {
	list-style: none;
	margin: 0;
	padding: 5px 5px 5px 5px;
}

#menu li {
	display: block;
	float: left;
	font-family: Candara, Arial, Helvetica, sans-serif;
}

#menu a {
	color: #F1F1F1;
	font-size: 14px;
	display: block;
	float: left;
	padding: 16px 40px 12px 40px;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
}

#menu a:hover {
	color: #337ea1;
}


/*#header {*/
/*	float: left;*/
/*	width: 920px;*/
/*	height: 380px;*/
/*	margin-top: 10px;*/
/*	margin-right: 10px;*/
/*	background: url(../images/muchomorczerwony.jpg) no-repeat;*/
/*	!*background-size: 50%;*!*/
/*	background-size: cover;*/
/*	border: 5px solid #ffffff; !*#151515;*!*/
/*}*/

#title_head {
	float: left;
	padding-top: 120px;
	padding-left: 450px;

}

#title_head h2 {
	color: darkblue;
	font-size: 28px;
}

#title_head p {
	color: blue;
	font-size: 16px;
}



#content {
	float: left;
	width: 940px;
	text-align: justify;
	padding-left: 10px;
	line-height: 22px;
	/*background: #151515;*/
	height: 440px;
}

#contentPodsttrona {
	float: left;
	width: 940px;
	text-align: justify;
	padding-left: 10px;
	line-height: 22px;
	/*background: #151515;*/

}

#footer {
	width: 960px;
	float: left;
	text-align: center;
	font-size: 12px;
	margin-top: 50px;
	color: #ffffff;
}

#footer a {
	color: #666;
}

#opis {
	color: wheat;
	font-weight: bold;
	justify-content: center;
	margin-right: 10px;
}
img {
	width: 700px;
	height: 525px;
	border: 5px solid #000;
	object-fit:cover;

}

#infoIntroduce {
	width: 200px;
	height: 100px;
	/*border: 1px solid #000;*/
	padding: 10px;
	background: #0000;

}

#infoPlay {
	width: 370px;
	height: 100px;
	/*border: 1px solid #000;*/
	padding: 10px;
	background: #0000;

}

.fieldText {
	width: 280px;
	font-family: monospace;
	background-color: #6495ED; /*chabrowy;*/
	/*color: Indigo;*/
	/*border-color: 0px #6495ED;*/
}

#container {
	float: left;
	/*margin-bottom: 30px;
	margin-right: 10px;*/

	width: 360px;
	height: 360px;
	/*border: 1px solid #CCC;*/
	margin: 50px;
	position: relative;
	perspective: 1000px;
}

#kostka{
	position: relative;
	left: 100px;
	transform-style: preserve-3d;
	width: 100%;
	height: 100%;
	/*animation: obracaniekostki 5s infinite alternate;*/

}

.bok {
	/*opacity: 0.9;*/
	position: absolute;
	width: 100%;
	height: 100%;
	font-size: 10px;
	color: white;
	line-height: 20px;
	text-align: justify;
	margin-left: 20px;
	margin-right: 20px;
	background-color: SlateBlue;
	padding: 20px;


}
.bok h2{
	font-size: 20px;
	color: white;
	text-align: center;
}

.bok h3{
	font-size: 15px;
	color: white;
	text-align: center;
}

.bok p {
	font-size: 12px;
	color: white;
	text-align: justify;
	margin-left: 20px;
	margin-right: 20px;
}

div.front
{
	/*background-color: red;*/
	transform: translateZ(200px);
}
div.back
{
	/*background-color: blue;*/
	transform: rotateY(180deg) translateZ(200px); /*rotateX(-180deg)*/
}
div.left
{
	/*background-color: purple;*/
	transform: rotateY(-90deg) translateZ(200px);

}
div.right
{
	/*background-color: green;*/
	transform: rotateY(90deg) translateZ(200px);
}
div.top
{
	/*background-color: teal;*/
	transform: rotateX(90deg) translateZ(200px);
}
div.bottom
{
	/*background-color: orange;*/
	transform: rotateX(-90deg) translateZ(200px);
}

.opis_bota {
	text-align: left;
	font-size: large;
}

/*@keyframes obracaniekostki
{
    from
    {
    }
    to
    {
        transform: rotateY(90deg); rotateX(360deg);
    }
}*/


/* DEMO-SPECIFIC STYLES https://www.aurainweb.pl/efekt-pisania-na-stronie-animacje-css/ */
/*div.front p {*/
/*	color: #fff;*/
/*	font-family: monospace;*/
/*	overflow: hidden; !* Ensures the content is not revealed until the animation *!*/
/*	border-right: .15em solid orange; !* The typwriter cursor *!*/
/*	white-space: nowrap; !* Keeps the content on a single line *!*/
/*	margin: 0 auto; !* Gives that scrolling effect as the typing happens *!*/
/*	letter-spacing: .15em; !* Adjust as needed *!*/
/*	animation:*/
/*			typing 3.5s steps(20, end),*/
/*			blink-caret .5s step-end infinite;*/
/*}*/

/*!* The typing effect *!*/
/*@keyframes typing {*/
/*	from { width: 0 }*/
/*	to { width: 50% }*/
/*}*/

/* The typewriter cursor effect*/
/*@keyframes blink-caret {*/
/*	from, to { border-color: transparent }*/
/*	50% { border-color: orange }*/
/*}*/